<footer id="footer">
    <nav>
        <ul>
            <li><a href="./imprintAndPrivacy">Imprint</a></li>
            <li><a href="./imprintAndPrivacy">Privacy policy</a></li>
            <li><a href="./">Home</a></li>
            <li>Team 1. 2024</li>
        </ul>
    </nav>
    <br>
</footer>