<footer class="footer">
    <nav>
        <ul>
            <li><a href="./imprintandprivacy">Imprint</a></li>
            <li><a href="./imprintandprivacy">Privacy policy</a></li>
            <li><a href="./">Home</a></li>
            <li>Team 1. 2024</li>
            <li>Lukas Dürotin 2746423</li>
            <li>Sebastian Grewe 2743109</li>
            <li>Florian Wendel 2736433</li>
        </ul>
    </nav>
    <br>
</footer>