<header class="top-bar">
    <nav class="top-bar">
        <a href="./" class="logo">
            <img src="./logo.png" alt="logo">
        </a>
        <ul>
            <li><button class="nav-button" onclick="location.href='./howto'">Help</button> </li>
            <li><button class="nav-button" onclick="location.href='./login'">Login</button> </li>
            <li><button class="nav-button" onclick="location.href='./signup'">Signup</button> </li>
        </ul>
    </nav>
</header>