:root {
    --darkgray: #222831;
    --lightgray: #393e46;
    --accent1: #D760DF;
    --accent2: #D87274;
    --white: #f2f2f2;
}


body {
    font-family: "Helvetica", sans-serif;
    background-color: var(--lightgray);
    color: var(--white);
    margin: 0;
}
main {
    margin: 5px;
    padding: 5px;
    min-height: 100vh;
    border: solid 3px transparent;
    border-radius: 10px;
}

