:root {
    --darkgray: #222831;
    --lightgray: #393e46;
    --accent1: #D760DF;
    --accent2: #D87274;
    --white: #f2f2f2;
}


body {
    font-family: "Helvetica", sans-serif;
    background-color: var(--lightgray);
    color: var(--white);
    margin: 0px;
    overflow: scroll;
}
main {
    margin: 5px;
    padding: 5px;
    height: 88vh;
    border: none;
    border-radius: 10px;
    vertical-align: center;
    text-align: center;
}
.dashbtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    vertical-align: center;
    width: 100%;
}
.dash-button {
    display: block;
    text-decoration: none;
    background-color: var(--darkgray);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    width: 15rem;
    height: 10rem;
    font-size: 1.2rem;
}
.dash-button:hover {
    transform: scale(1.05);
    border-color: var(--accent1);
}

.Deck {
    align-self: center;

}

