:root {
    --darkgray: #222831;
    --lightgray: #393e46;
    --accent1: #D760DF;
    --accent2: #D87274;
    --white: #f2f2f2;
}


body {
    font-family: "Helvetica", sans-serif;
    background-color: var(--lightgray);
    color: var(--white);
    overflow: scroll;
}
main {
    margin: 5px;
    padding: 5px;
    min-height: 100vh;
    border: solid 3px transparent;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashbtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    vertical-align: center;
    width: 100%;
}
.dash-button {
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    background-color: var(--darkgray);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    width: 15rem;
    height: 10rem;
    font-size: 1.2rem;
}
.dash-button:hover {
    transform: scale(1.05);
    border-color: var(--accent1);
}


.Deck-Container{
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    width: 100%;
    height: auto;
    border: solid 3px var(--darkgray);
    border-radius: 10px;
}
.Deck {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
    border: 3px solid var(--darkgray);
    margin: 5px;
    padding: 3px;
    background-color: var(--darkgray);
    text-align: center;
}
.Deck form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px var(--darkgray);
    border-radius: 10px;
    background-color: var(--lightgray);
    width: 100%;
}
.Deck form button {
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 0.8rem;
    width: 100%;
    height: 100%;

}
.Deck form:hover {
    border: 2px solid var(--accent1);
}
#Deck-Name{
    height: 75%;
}
#Deck-Name button {
    font-size: 1.5rem;
}
#Deck-Edit{
    height: 25%;
}

.Main-Button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--darkgray);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.2rem;
    width: auto;
}
.Main-Button button{
    border: none;
    color: var(--white);
    font-size: 1.2rem;
    padding: 10px;
    background-color: transparent;
}
.Main-Button:hover {
    transform: scale(1.05);
    border-color: var(--accent1);
}
#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
    border: none;
    margin: 3px;
    background-color: var(--darkgray);
}
