<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Collections</title>
    <script src="http://localhost:35729/livereload.js" async></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">

</head>
<body>

    {{>layout/header}}

<main>
<h1>Your collections</h1>
<h3>Select a collection to edit or to learn.</h3>

<p>{{myUser.userName}}'s Decks</p>

{{#myDecks}}
    <div class="Deck">
    <form action="./learning" method="post">
        <button type="submit" name="deckId" value={{id}}>{{name}}</button>
    </form>
    <form action="./editor" method="post">
        <button type="submit" name="deckIdEdit" value={{id}}>Edit Deck</button>
    </form>
    </div>
{{/myDecks}}

</main>

<footer>
{{>layout/footer}}
</footer>
</body>


</html>