<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Collections</title>
    <script src="http://localhost:35729/livereload.js" async></script>
</head>
<body>
<h1>Your collections</h1>
<h3>Select a collection to edit or to learn.</h3>
</body>
</html>