<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create a new card</title>
    <!--script src="http://localhost:35729/livereload.js" async></script-->
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./editor.css">
</head>

<body>
<main>
<form action="./creationSuccessful" method="post" class="addCard">
    <input type="text" name="front" placeholder="Enter text here" required>
    <input type="text" name="back" placeholder="Enter text here" required>
    <button type="submit" class="Main-Button">Add this card to {{chosenDeck.name}}</button>
</form>
</main>

<!--form action="./creationSuccessful" method="get">
    <button type="submit">Testing button</button>
</form-->

</body>

</html>