<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create a new card</title>
    <!--script src="http://localhost:35729/livereload.js" async></script-->
    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" type="image/x-icon" href="./icon.png">
</head>

<body>

<br>
<h3 style="font-size: 2rem; text-align: center " >Successfully added your new card!</h3>
<div class="dashbtn-container">
    <form action="./editor" method="post">
        <button type="submit" class="dash-button" id="editor">Return to Editor</button>
    </form>
</div>


</body>

</html>