<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Dashboard</title>
</head>
<body>
<header>
    <div id="logo">Index Cards</div>
    <nav>
        <ul>
            <li><a href="./">Homepage</a>
        </ul>
    </nav>
</header>
<form>
    <h1>My Index Cards</h1>
</form>
<form>
    <h1>Continue last set</h1>
</form>
<form>
    <h1>How-to</h1>
</form>
<footer>

</footer>
</body>
</html>