<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Card Editor</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

{{>layout/header}}

<h1></h1>
</body>

{{>layout/footer}}

</html>