<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Card Editor</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">

</head>
<body>

    {{>layout/header}}


<main>
<h1>Hier Noch EDITOR logik für ausgewähltes Deck adden</h1>
</main>

<footer>
{{>layout/footer}}
</footer>

</body>

</html>