<!DOCTYPE html>
<html lang="en">
<head>
    <title>How to - The FAQ</title>
    <script src="http://localhost:35729/livereload.js" async></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">
    <link rel="icon" type="image/x-icon" href="./icon.png">

</head>
<body>

    {{>layout/header}}


<main>

<h2>FAQ</h2>
<br>
    <h4>Q: How should a good index card be structured?</h4>
    <nav>
    The keywords on your index card should be as short and precise as possible. On the front side there should be just one word, no complete sentence. The keyword should only be once in the deck so there is no possibility to accidentally misunderstand the card.
    <br>
    The content of the back side depends on the topic you are currently learning. When learning a new language and the vocabulary you should focus on one or two prior translations.
    <br>
    At more complex topics such as anatomy you should focus on simple subtopics summarizable in a few keywords.
    <br>
    Remember: The shorter, the better.
    </nav>
    <br>
    <br>
    <h4>Q: Will other users be allowed to use this side?</h4>
    <nav>
        Unfortunately it's not planned at the moment.
    </nav>
    <br>
    <br>
    <h4>Q: Will it be possible to edit existing cards in a deck?</h4>
    <nav>
        We're working on adding this feature. Since we have a lot of work to do we are not able to say when this will be possible.
    </nav>
    <br>
<br>
<br>
<form action="./"><button type="submit">Back to home page</button></form>

</main>

<footer>
{{>layout/footer}}
</footer>

</body>

</html>