<!DOCTYPE html>
<html lang="en">
<head>
    <title>How to - The FAQ</title>
    <script src="http://localhost:35729/livereload.js" async></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">

</head>
<body>

    {{>layout/header}}


<main>
<h1>How to...</h1>
<h2>The FAQ</h2>
<br>
<h4>Question 1:</h4>
<nav>
    <ul>
        <li>Since this website has never been published, there are no questions that ever could have been asked. I'm sorry. You can now leave this page.</li>
    </ul>
</nav>
<br>
<br>
<form action="./"><button type="submit">Back to home page</button></form>
</main>

<footer>
{{>layout/footer}}
</footer>

</body>

</html>