<!DOCTYPE html>
<html lang="en">
<head>
    <title>How to - The FAQ</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
<h1>How to...</h1>
<h3>The FAQ</h3>
<nav>
    <ul>
        <li>Since this website has never been published, there are no questions that ever could have been asked. I'm sorry. You can now leave this page.</li>
    </ul>
</nav>
<br>
<br>
<form action="/"><button type="submit">Back to home page</button></form>
</body>

{{>layout/footer}}

</html>