<!DOCTYPE html>
<html lang="en">
<head>
    <title>Impressive privacy policy</title>
    <script src="http://localhost:35729/livereload.js" async></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">

</head>
<body>

    {{>layout/header}}


<main>
    <h4>This is where you'd expect an imprint and the privacy policy.</h4>
    <h4>Unfortunately, this website is not an actual website. You can go back to the landing page by clicking the button below or close this tab.</h4>
    <br>
    <br>
    <form action="./"><button type="submit">Back to home page</button></form>
</main>

<footer>
{{>layout/footer}}
</footer>

</body>

</html>