<!doctype html>
<html lang=en">
    <head>
        <title>IndexCards</title>
    </head>

    <body>
    <main>
        <h1>Index Cards</h1>
        <form action="login" ><button type="submit">Login</button></form>
        <form action="signup" ><button type="submit">Register</button></form>

        <!--Test Button to access the User List-->
        <form action="myUsers" ><button type="submit">Dashboard</button></form>
    </main>
    </body>

</html>