<!doctype html>
<html lang=en">
    <head>
        <title>IndexCards</title>
        <script src="http://localhost:35729/livereload.js" async></script>
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet" href="./header.css">
        <link rel="stylesheet" href="./footer.css">
    </head>

    <body>

    <header>
    {{>layout/header}}
    </header>

    <main>
        <h1>Index Cards</h1>
        <h3>This is the fanciest and most famous page for learning with index cards. There is no content on this page cause we are lazy af and there's no real competition (src: trust me bro).
            <br> Here are some options you can choose from. Have fun XOXO (I strongly recommend the FAQ)</h3>
        <form action="./login" ><button type="submit">Login</button></form>
        <form action="./signup" ><button type="submit">Register</button></form>
        <form action="./dashboard"><button type="submit">Dashboard</button></form>
        <!--Test Button to access the User List-->
        <form action="./myUsers" ><button type="submit">MyUsersTestButton</button></form>
        <form action="./howto"><button type="submit">How to</button></form>
    </main>

    <footer>
    {{>layout/footer}}
    </footer>

    </body>


</html>