<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learning Mode</title>
    <script src="http://localhost:35729/livereload.js" async></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">

</head>
<body>

    {{>layout/header}}


<main>
    <h1>Learning Mode</h1>
    {{#emptyDeck}}
        <b>{{.}}</b>
    {{/emptyDeck}}
    {{#chosenDeck}}
        <p>Ausgewähltes Deck : {{name}}</p>
        <br>

        {{#cardsEmpty}}<p>{{.}}</p>{{/cardsEmpty}}

        {{#cardsOfUser}}
            <p>{{front}}; {{back}}</p>
            <form action="./continue" method="post">
                <button type="submit" name="forward" > Weiter </button>
            </form>
            <form action="./back" method="post">
                <button type="submit" name="back" > Zurück </button>
            </form>


        {{/cardsOfUser}}
    {{/chosenDeck}}
    <br>
    <br>
    <br>
<form action="./collections"><button type="submit">Back to collections</button></form>
</main>
<footer>
{{>layout/footer}}
</footer>

</body>

</html>