<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learning Mode</title>
    <script src="http://localhost:35729/livereload.js" async></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="editor.css">

</head>
<body>

    {{>layout/header}}


<main>
    <h1>Learning Mode</h1>
    <!-- Wenn kein Deck ausgewählt, Fehlermeldung geben-->
    {{#emptyDeck}}<b>{{.}}</b>{{/emptyDeck}}
    {{#chosenDeck}}
        <p>Ausgewähltes Deck : {{name}}</p>
        <br>
        <!-- Wenn Gewähltes Deck keine Karten hat zum Editor verweisen -->
        {{#cardsEmpty}}
            <p>{{.}}</p>

        <form action="./editor" method="post">
            <button type="submit" name="deckIdEdit" value={{id}}>Edit Deck</button>
        </form>
        {{/cardsEmpty}}

        {{#cardsOfUser}}
            <details class="card">
                <summary>{{front}}</summary>
                {{back}}
            </details>
            <br>
            <form action="./continue" method="post" class="Main-Button">
                <button type="submit" name="forward" > Weiter </button>
            </form>
            <form action="./back" method="post" class="Main-Button">
                <button type="submit" name="back" > Zurück </button>
            </form>
        {{/cardsOfUser}}
    {{/chosenDeck}}
</main>
<footer>
{{>layout/footer}}
</footer>

</body>

</html>