<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learning</title>
    <script src="http://localhost:35729/livereload.js" async></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="editor.css">

</head>
<body>

    {{>layout/header}}


<main>
    <h1>Learning Mode</h1>
    <!-- Wenn kein Deck ausgewählt, Fehlermeldung geben-->
    {{#emptyDeck}}<b>{{.}}</b>{{/emptyDeck}}
    {{#chosenDeck}}
        <p>Selected deck: {{name}}</p>
        <br>
        <!-- Wenn Gewähltes Deck keine Karten hat zum Editor verweisen -->
        {{#cardsEmpty}}
            <p>{{.}}</p>

        <form action="./editor" method="post">
            <button type="submit" name="deckIdEdit" value={{id}}>Edit Deck</button>
        </form>
        {{/cardsEmpty}}

        {{#cardsOfUser}}
            <div class="card">
                <div class="front-container">
                <h2 class="front">{{front}}</h2>
                </div>
                <div class="back-container" id="container" onclick="toggleText()">
                <h2 class="back" id="toggleText">{{back}}</h2>
                </div>
            </div>
            <br>
        <div id="button-container">
            <form action="./back" method="post" class="Main-Button">
                <button type="submit" name="back" > Back </button>
            </form>
            <form action="./continue" method="post" class="Main-Button">
                <button type="submit" name="forward" > Next </button>
            </form>
        </div>
        {{/cardsOfUser}}
    {{/chosenDeck}}
</main>
<footer>
{{>layout/footer}}
</footer>
<script>
    function toggleText() {
        var text = document.getElementById("toggleText");
        var container = document.getElementById("container");
        if (text.style.display === "none" || text.style.display === "") {
            text.style.display = "block";
            container.style.background = "var(--lightgray)"
        } else {
            text.style.display = "none";
            container.style.background = "linear-gradient(to bottom right, var(--accent1), var(--accent2))"
        }
    }
</script>

</body>

</html>