<!doctype html>
<html lang="en">
<head>
    <title>User Demo</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

<!-- Test File to show Users with Decks-->
<h1>User Demo</h1>

<h3>List all existing Users and Decks</h3>
{{#myUsers}}
    <p>Username: {{userName}}</p>
{{/myUsers}}

{{#usersDecks}}
    <p>Deckname: {{deckName}}</p>
{{/usersDecks}}



</body>

{{>layout/footer}}

</html>