<!doctype html>
<html lang="en">
<head>
    <title>User Demo</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./footer.css">

</head>

<body>

    {{>layout/header}}

<main>
<!-- Test File to show Users with Decks
Alte TestDatei, wird nicht mehr verwendet-->
<h1>User Demo</h1>

<h3>List all existing Users and Decks</h3>
{{#myUsers}}
    <p>Username: {{userName}}</p>
{{/myUsers}}

{{#allDecks}}
    <p>Decks vom User mit ID {{userId}} {{name}}</p>
{{/allDecks}}

{{#firstUserID}}
    <p>Decks vom User mit ID {{userId}} {{name}}</p>
{{/firstUserID}}

{{#allCards}}
    <p>Alle Karten {{id}} {{front}} {{back}}</p>
{{/allCards}}
</main>

<footer>
{{>layout/footer}}
</footer>

{{#cardsOfUser}}
    <p>Alle Karten vom User 1 {{deck_id}}  {{front}} {{back}}</p>
{{/cardsOfUser}}

</body>

</html>