<!doctype html>
<html lang="en">
<head><title>User Demo</title></head>

<body>

<!-- Test File to show Users with Decks-->
<h1>User Demo</h1>

<h3>List all existing Users and Decks</h3>
{{#myUsers}}
    <p>Username: {{userName}}</p>
{{/myUsers}}

{{#myDecks}}
    <p>Deckname: {{deckName}}</p>
{{/myDecks}}



</body>
</html>